@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #111827;
  --background: #eef;
  --accent: #a0a2e8;
  --method-dark-1: #a0a2e8;
  --method-light-1: #eef;
  --method-accent: #d8d9ff;
}

body {
  color: var(--foreground);
  background: var(--background);
}
